



/* Nav bar*/
nav{
    size: 100px;
    background-color: gray;
    text-align-all: center;
    font-size: 36px;
    font-palette: dark;
    font-family: Georgia, "Times New Roman", Times, serif ;
}

body{
    background-color: burlywood !important;
}
.nav-link:hover {
color: red !important;
}

label{
    font-family: Georgia, "Times New Roman", Times, serif ;
}

/* nav bar button*/
.button1{

    background-color: lightblue;
    border: cadetblue;
    border-radius: 50%;
    color: midnightblue;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-family: Georgia, "Times New Roman", Times, serif ;
    font-size: 28px;
}

.button1:hover{
    color: red !important;
}

.btn-lg:hover{
    color: red !important;
}
