
/* Nav bar*/
nav {
    background-color: gray;
    text-align-all: center;
    font-size: 36px;
    font-palette: dark;
}
.active{
    font-size: 38px !important;
    text-decoration: underline !important;
}

/*Font*/
*{
    font-family: Algerian, "Times New Roman", Times, serif ;
}

body{
    background-color: aliceblue !important;
}

.nav-link:hover {
color: whitesmoke !important;
}

/* Navigation bar links*/
.nav-link{
    font-family: Georgia, "Times New Roman", Times, serif ; ;
    color: midnightblue !important;
}

.form-group{
    font-size: 45px !important;
}

.button1{
    font-size: 26px;
    background: transparent;
    border: cadetblue;
    color: midnightblue;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline;
    border-radius: 70px;
    letter-spacing: 1px;
    line-height: 30px;
    transition: all 0.3s ease 0s;
    border: 2px solid;
}

.button2{
    color: black;
}

.button1:hover {
    color: whitesmoke !important;
    background: dimgray;
    border: 2px solid whitesmoke;
}


.btn-lg:hover{
    color: whitesmoke !important;
}

.password{
    border:black;
    background-color: gray !important;
}

.custom-select{
    font-size: 18px;
    background: transparent;
    border: black;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline;
    border-radius: 10%;
    letter-spacing: 1px;
    line-height: 30px;
    transition: all 0.3s ease 0s;
    border: 2px solid;
}

