
/* Nav bar*/
nav {
    background-color: rgba(0,0,0,0.2);
    text-align-all: center;
    font-size: 36px;
    font-palette: dark;
    height: 5rem;
}

.registered_offers {
    margin-top: 15%;
    margin-bottom: 15%;
    font-size: x-large;
}

#loginEmail, #passWord{
    font-size: small;
}

#offer_registration_title{
    padding: 4%;
}

.active{
    font-size: 38px !important;
    text-decoration: underline !important;
}

/*Font*/
*{
    font-family: Algerian, "Times New Roman", Times, serif ;
}

/*Background Color*/
body{
    background-color: aliceblue !important;
}

/*Hover over the nav-links*/
.nav-link:hover {
color: whitesmoke !important;
}

/* Navigation bar links*/
.nav-link{
  /*  font-family: Georgia, "Times New Roman", Times, serif ; ;*/
    color: midnightblue !important;
    padding: 1%;
}

/**/
.form-group{
    font-size: 45px !important;
}

.button1{
    font-size: 26px;
    background: transparent;
    border: cadetblue;
    color: midnightblue;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline;
    border-radius: 70px;
    letter-spacing: 1px;
    line-height: 30px;
    transition: all 0.3s ease 0s;
    border: 2px solid;
}


.button1:hover {
    color: whitesmoke !important;
    background: dimgray;
    border: 2px solid whitesmoke;
}


.btn-lg:hover{
    color: whitesmoke !important;
}

.password{
    border:black;
    background-color: gray !important;
}

.custom-select{
    font-size: 18px;
    background: transparent;
    border: black;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline;
    border-radius: 10%;
    letter-spacing: 1px;
    line-height: 30px;
    transition: all 0.3s ease 0s;
    border: 2px solid;
}

.footer {
    background-color: rgba(0,0,0,0.2) !important;
}



